@media (min-width: 768px) {
  .cart-summary-mobile {
    display: none;
  }
  .cart-summary-desktop {
    display: block;
  }
}

@media (max-width: 768px) {
  .cart-summary-mobile {
    display: block;
  }
  .cart-summary-desktop {
    display: none;
  }
  .card-image-container {
    width: 60px;
    height: 73px;
    padding-top: 20px;
  }
}

@media (max-width: 767px) {
  .totalcard {
    margin: 0 -1.25rem;
    width: calc(100% + 2.5rem);
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-top: 35px;
}
}